.statusSection {
  height: 179px;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statusList {
  list-style: none;
  padding: 0;
}

.statusItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.statusItem:last-child {
  border-bottom: none;
}
