.statusSection {
  min-height: 179px;
  width: 100%;
  max-width: 600px;
  background-color: #353535;
  border: 2px solid #4d4d4d;
  color: #f3f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statusList {
  list-style: none;
  padding: 0;
  border-radius: 8px;
  padding: 12px 10px;
  min-height: 35px;
  background-color: #272727;
}

.statusItem {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.statusItem:last-child {
  border-bottom: none;
}

.taskName {
  color: #b486f1;
  font-weight: bold;
}
