.progresItem {
  height: 254px;
  width: 100%;
  max-width: 600px;
  background-color: #353535;
  border: 2px solid #4d4d4d;
  color: #f3f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  scrollbar-color: #a8a3ae #272727;
  overflow-y: auto;
}

.progresItem::-webkit-scrollbar {
  width: 8px;
}

.progresItem::-webkit-scrollbar-track {
  background: #272727;
}

.progresItem::-webkit-scrollbar-thumb {
  background-color: #a8a3ae;
  border-radius: 4px;
}

.noTask {
  color: #aaa;
  font-style: italic;
  display: block;
  margin-top: 20px;
  font-family: "WDXL Lubrifont TC";
  font-size: large;
}

h2 {
  color: #f3f0f0;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title {
  font-family: "Russo One", Arial, sans-serif;
  letter-spacing: 1px;
}
